@tailwind base;
@tailwind components;
@tailwind utilities;

  .custom-scroll::-webkit-scrollbar {
    display: none;
  }

  .custom-scroll {
    -ms-overflow-style: none;  /* for Internet Explorer 10+ */
    scrollbar-width: none;  /* for Firefox */
  }